<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  웹뷰와 연결 권한  -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--  신체활동(걸음수) 권한  -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

    <!--  위치 권한  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--  앱푸시 권한  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:minSdkVersion="33"/>

    <application
        android:icon="@mipmap/icon"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="28">
        <activity
            android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:exported="false" />
    </application>
</manifest>
